*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
}


nav{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-left{
    justify-content: space-between;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

header nav .nav-left .nav-logo .logo{
height: 80px;
}



header nav .nav-left .left-links ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
    text-align: center;
    margin-left: 150px;
}

header nav .nav-left .left-links ul li a{
    text-decoration: none;
    color: #000000b7;
    
}

header nav .nav-left .left-links ul li a:hover{
text-decoration: underline red;
color: red;
}

header nav .nav-right{
    display: flex;
    align-items: center;
}



nav .nav-right a{
 text-decoration: none;
 color:#FEFFFF ;
 font-weight: 700;
}

nav .nav-right button{
    padding: 15px;
     width: 170px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    text-decoration:none;
    background-color: #CE2D2D;
}

nav .nav-right button:hover{
    border:7px groove #FFFFFF;
    box-shadow: #E03131;

}



.sec1{
    width: 100%;
    height: 500px;
    padding-top: 100px;
}

nav .nav-right .menu{
    display: none;
}

.sec1 .hero{
position: relative;
top: 100px;
margin-left: 80px;
}

.sec1 .hero h1{
    font-size: 3.3em;
    font-weight: 770;
    width: 1000px;
}


.sec1 .hero p{
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.8;
    width: 600px;
}

.sec1 .hero button{
    padding: 20px;
    margin-top: 20px ;
    width: 220px;
    background-color: #E03131;
    border-radius: 30px;
    border: none ;
}


.sec1 .hero a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1rem;
}




.sec2{
    height: 100%;
    padding: 200px 70px;
}

.sec2 .hero1 {
    line-height: 5;
}

.sec2 .hero1 h3{
    font-size: 2.3rem;
    font-weight: 600;

}


.sec2 .hero1 h2{
    font-size: 1.0rem;
    font-weight:50;
    letter-spacing: 0.1em;
}

.sec2 .below-hero .images {
    height:500px;
}

.sec2 .below-hero .texts h2{
  font-size: 1.1rem;
  font-weight: 200
}

.sec2 .below-hero .texts h3{
  font-size:1.8rem ;
}


.sec2 .below-hero .texts p{
  font-size:1.3rem ;
  width: 300px;
  line-height: 1.8;
}

.sec2 .below-hero{
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    background-color: #F0F0F8;

}

.sec2 .below-hero .texts{
      line-height: 2.0;
      margin-bottom: 180px;
}

.sec2 .below-hero .texts a{
    font-size: 1.4rem;
}

.sec2 .below-hero .texts a:hover{
    text-decoration:none;
}

.material-symbols-outlined {
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px; 
}



@media(max-width:1123px){
    .sec2 .below-hero{
        width: 1000px;
    }

}



@media(max-width:1108px){

 nav{
  
    width:1000px;
 }

    nav .nav-right .menu{
        display: block;
    } 

    nav .nav-right button{
        display: none
}

header nav .nav-left .left-links ul{
   display: none;
}

}

@media(max-width:1055px){
    .sec2 .below-hero .texts{
        display: block;
    }

    .sec2 .below-hero .images{
     
    }
}


@media(max-width:906px){
    .sec1 .hero h1{
        width: 600px;
    }
   nav{
    width: 900px;
   }
}


@media(max-width:767px){
    .sec1 .hero h1{
        width: 1000px;
    }
}

@media(max-width:754px){
    .sec1 .hero h1{
        width: 700px;
}

}
